body {
    font-family: 'Poppins', sans-serif;
}

a:hover {
    background-color: cadetblue;        
}

.bg-info {
    background-color: cornflowerblue;
}

.bg-primary {
    background-color: darkcyan;
}

.bg-success {
    background-color: lightseagreen;
}